.mainDiv {
  background-color: transparent;
}

.mainDiv::before {
  background-image: url("./../../../public/kuber-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  transform: scaleX(-1); 
  opacity: 0.4;
  z-index: -1;
}

.bodysection {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bodysection h2{
    padding-bottom: 20px;
}
.loginBox{
    width: 70%;
    aspect-ratio: 2;
    background-color: rgba(255,174,0,0.65);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputDiv{
    width: 90%;
    margin-bottom: 20px;
}
.inputDiv p{
    font-weight: 600;
}
.inputDiv input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(255,255,255,0.7);
    outline: none;
}
.loginBox button{
    width: 40%;
    padding: 20px;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: rgb(0, 0, 128);
    color: rgba(255,174,0,1);
    font-size: 1.2rem;
    font-weight: 400;
}
.loginBox button:hover{
    background-color: rgb(71, 71, 255);
    cursor: pointer;
}