html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(0, 0, 128);
  background: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none !important;
}
